.TopBanner h1 { 
  text-align: center;
}

.TopBanner p {
  text-align: center;
}

.TopBanner  {
  background-color: rgb(255, 0, 242);
  color: rgb(33, 27, 110);
}

body h2 {
text-align:center;
}

body{
  background-color: coral;
}
body h4 {
font-size: 25px;
}
.Gerard {
background-color: lawngreen;
height:1000px;
width: 450px;
float: left;
}

.Duane  {
background-color: rgb(145, 183, 216);
height:1000px;
width: 450px;
float: left;
}

.Tim  {
background-color: rgb(235, 182, 102);
height:1000px;
width: 450px;
float: left;
}

.Cid  {
background-color: aquamarine;
height:1000px;
width: 450px;
float: left;
}


.Stacy  {
background-color: rgb(255, 72, 0);
height:1000px;
width: 450px;
float: left;

}

.img {
  width: 450px;
  height: 600px;
}